/*!
 *  Weather Icons 2.0.10
 *  Updated November 1, 2020
 *  Weather themed icons for Bootstrap
 *  Author - Erik Flowers - erik@helloerik.com
 */

@font-face {
  font-family: "weathericons";
  src: url("./fonts/weathericons-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.wi {
  display: inline-block;
  font-family: "weathericons";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Các icon chính */
.wi-day-sunny:before {
  content: "\f00d";
}
.wi-day-cloudy:before {
  content: "\f002";
}
.wi-cloudy:before {
  content: "\f013";
}
.wi-rain:before {
  content: "\f019";
}
.wi-rain-wind:before {
  content: "\f018";
}
.wi-thunderstorm:before {
  content: "\f01e";
}
.wi-snow:before {
  content: "\f01b";
}
.wi-fog:before {
  content: "\f014";
}
.wi-refresh:before {
  content: "\f04c";
}
